body{
    background-color: #00BCD4 !important; 
    color: #FFF !important;
    font-family: 'Noto Sans', sans-serif !important;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
}
.timer{
    font-size: 85px;
    font-weight: 300;
}
.circle-progress{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.circle-progress-bg{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: -10;
}
.button-div{
    justify-content: center;
    display: flex;
    position: absolute;
    align-items: center;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
}
.buttons{
    color: #00BCD4 !important;
    margin-left: 15px;
    margin-right: 15px;
}